<?xml version="1.0" encoding="UTF-8"?>
 <web-app  
        version="3.0"  
        xmlns="http://java.sun.com/xml/ns/javaee"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">  
	<display-name>SecurityAttackDemo</display-name>
	
	<servlet>
		<description>
		</description>
		<display-name>loginAction</display-name>
		<servlet-name>loginAction</servlet-name>
		<servlet-class>
		com.duma.sad.action.LoginAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddUserAction</display-name>
		<servlet-name>AddUserAction</servlet-name>
		<servlet-class>
		com.duma.sad.action.AddUserAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>testAction</display-name>
		<servlet-name>testAction</servlet-name>
		<servlet-class>
		com.duma.sad.action.TestAction</servlet-class>
	</servlet>


	<servlet>
		<description>
		</description>
		<display-name>SearchAction</display-name>
		<servlet-name>SearchAction</servlet-name>
		<servlet-class>
		com.duma.sad.action.SearchAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PurchaseAction</display-name>
		<servlet-name>PurchaseAction</servlet-name>
		<servlet-class>
		com.duma.sad.action.PurchaseAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ImproperErrHandingAction</display-name>
		<servlet-name>ImproperErrHandingAction</servlet-name>
		<servlet-class>
		com.duma.sad.action.ImproperErrHandingAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchUserByIdAction</display-name>
		<servlet-name>SearchUserByIdAction</servlet-name>
		<servlet-class>
		com.duma.sad.action.SearchUserByIdAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>XshmLoginAction</display-name>
		<servlet-name>XshmLoginAction</servlet-name>
		<servlet-class>
		com.duma.sad.action.XshmLoginAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReadPropertyFileAction</display-name>
		<servlet-name>ReadPropertyFileAction</servlet-name>
		<servlet-class>
		com.duma.sad.action.ReadPropertyFileAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TestAction</display-name>
		<servlet-name>TestAction</servlet-name>
		<servlet-class>
		com.duma.sad.action.TestAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>getQuery</display-name>
		<servlet-name>getQuery</servlet-name>
		<servlet-class>test.getQuery</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetPicture</display-name>
		<servlet-name>GetPicture</servlet-name>
		<servlet-class>com.duma.sad.action.GetPicture</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>testAction</servlet-name>
		<url-pattern>/testAction</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>loginAction</servlet-name>
		<url-pattern>/loginAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUserAction</servlet-name>
		<url-pattern>/AddUserAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchAction</servlet-name>
		<url-pattern>/SearchAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PurchaseAction</servlet-name>
		<url-pattern>/PurchaseAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImproperErrHandingAction</servlet-name>
		<url-pattern>/ImproperErrHandingAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchUserByIdAction</servlet-name>
		<url-pattern>/SearchUserByIdAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XshmLoginAction</servlet-name>
		<url-pattern>/XshmLoginAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadPropertyFileAction</servlet-name>
		<url-pattern>/ReadPropertyFileAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestAction</servlet-name>
		<url-pattern>/TestAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getQuery</servlet-name>
		<url-pattern>/getQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPicture</servlet-name>
		<url-pattern>/GetPicture</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- <security-constraint>
		<web-resource-collection>
			<web-resource-name>Entile Application</web-resource-name>
			<url-pattern>/SecurityAttackDemo/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>test</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Test Basic</realm-name>
	</login-config> -->
	
	<session-config>	
	<cookie-config>
	 <http-only>true</http-only>
	    <secure>true</secure>
	  </cookie-config>
	  </session-config>
</web-app>
